* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav.navbar {
 	background-color: grey;

 	/* background: rgb(54, 25, 25); 
    background: rgba(54, 25, 25, .5);*/
}


/*parallax*/




/*//parallax*/

div.container {
	
	padding: 15%;
}


div.input-groups {
	margin: 10px;
}

div.footer {
		bottom: 0;
		position: absolute;
		
	}

div.container1 {
	background-image: url('../img/lumen.jpg');
	background-attachment: inherit;
	background-size: cover;
	height: auto;
}

div.welcome {
	background-color: #000;
	color: #fff;

	 background: rgb(54, 25, 25); 
    background: rgba(54, 25, 25, .5);
}

/*mobile devices*/
@media only screen and (max-width: 480px) {
	nav.navbar {
 	 	background-color: grey;
}


/*table devices*/
@media only screen and (min-width: 481px) and (max-width: 960px) {
	
}


/*desktop*/
@media only screen and (min-width: 961px) {

	


}
