
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body {
/*	height: auto;*/
	background-color: #000;
	color: #fff;
  font-family: 'Pacifico', cursive;
}

a.menulist {
  color: white;
}


nav.navbar {
	background-color: #000;
  font-family: 'Francois One', sans-serif;

 	/* background: rgb(54, 25, 25); 
    background: rgba(54, 25, 25, .5);*/
}

.navbar-brand {
  padding: 0px;
  color: white;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
  border-radius: 50px;

}
 div.logo {
 	color: white;
 	margin: 10%;
 	font-weight: bold;
}

footer {
  font-family: 'Francois One', sans-serif;
    height:100%; 
    background-color: #000;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: rgb(54, 25, 25); 
    background: rgba(54, 25, 25, .7);
    color: #fff
  
  }

footer h4 {
  font-weight: bold;
}

hr.style {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#disclaimer {
  font-family:sans-serif;
}
/*carousel*******************************************/



/*  Fade*/

.fade-carousel {
    position: relative;
    height: 50vh;
}
.fade-carousel .carousel-inner .item {
    height: 50vh;
}

.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: .7;
}


/*          Hero Headers        */

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index:3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero p {
    font-size: 1em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}


/*   Overlay*/

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .1;
}


/* Custom Buttons      */

.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}


/*       Slides backgrounds     */

.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url('../img/mike.jpg'); 
}
.fade-carousel .slides .slide-2 {
  background-image: url('../img/q.jpg');
}
.fade-carousel .slides .slide-3 {
  background-image: url('../img/r.jpg');
}

div#myCarousel {
  padding: 0 ;
}



/* /carousel*/






/*parallax****************************/

.parallax {
   
    background-image: url('../img/para.jpg');

  
    height: 165px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
   
    background-image: url('../img/q.jpg');

  
    height: 170px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
   
    background-image: url('../img/para.jpg');

  
    height: 50px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
   
    background-image: url('../img/para.jpg');

  
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/*//parallax*/


/*hover effec*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*hover effect*/




/*div.input-groups {
	margin: 10px;
}*/


div.container1 {
	background-image: url('../img/lumen.jpg');
	background-attachment: inherit;
	background-size: cover;


}

/*div.containerabout {

  background-image: url('../img/mike.jpg');
  background-attachment: inherit;
  background-size: cover;
  height: inherit;

}*/

div.contactcontent {
  background-image: url('../img/para.jpg');
  height: auto;
  background-attachment: fixed;
  background-size: cover;
  height: inherit;
}


div.aboutcontent {
  color: #000;
  height: auto;
  background-image: url('../img/mike.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: inherit;
}

div.well-menupic {
  border:none;
  margin: 0;
}



div.well-menupic-item   img{
  border-radius: 20px;
  border: 1px solid white
  
}


div.menucontent {
  color: #fff;
  height: auto;
  background-image: url('../img/q.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: inherit;
}

.menupics {
  background-color: transparent;

}

div.about-head {

  background: rgb(54, 25, 25); 
  border: none;
/*  background: rgba(25, 0, 50, .6);*/
  color: #fff;
}

div.aboutwrapper {
  border-radius: 10px;
}

.panel-about {
  background-color: red;
  background: rgb(54, 25, 25); 
  background: rgba(25, 0, 50, .6);
}

.panel-menu {
  background-color: red;
  background: rgb(54, 25, 25); 
  background: rgba(25, 0, 50, .6);
}



div.welcome {
	background-color: #000;
	color: #fff;

	 background: rgb(54, 25, 25); 
  background: rgba(54, 25, 25, .5);
}


/*componentss blabla*/
button {
  font-family: sans-serif;
  font-weight: bold !important;

}

button > a {
  text-decoration: none !important ;
  color: white;
}

img.img-chef {
  margin: 0 auto;
}

#event{
    background: url('../img/g.jpg') no-repeat;
    background-size: cover;
    padding: 5%;

}
.left-images img {
    height: 308px;
    width: 100%;
}
.left-images{
    padding: 0px;
}

.section-padding{
    padding: 60px 0px;
}

.bg-color{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
   /* min-height: 630px;*/
}


.bg-color2{
    background-color: rgba(0, 0, 0, 0.9);   /*tryyyy*/
    color: white;
   /* min-height: 630px;*/
}

.header-h {
        font-size: 35px;
        color: #fff;
}
.header-h-b {
        font-size: 35px;
        color: #000;
}
.header-p, body{
        font-size: 14px;
}
.details-text-format {
   /* border-right: 2px solid #841b2d;*/
    padding: 20px 20px 30px 30px;
    overflow: auto;
}
.details-text-format-b {
   /* border-right: 2px solid #841b2d;*/
    padding: 20px 20px 30px 30px;
    overflow: auto;
    color: #000;
}
.details-text {
    background-color: rgba(14, 4, 4, 0.70);
    border-right: 2px solid #A87F41;
    padding: 20px 20px 30px 30px;
    overflow: auto;
}

.details-text p,li {
    color: #E8E8E8;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 300;
    list-style: none !important;
}

.details-list > ul >li {
    list-style: none !important;
}



#fdish {
    background-image: url('../img/egg.jpg');
    background-size: cover;
    border-radius: 2px;
    color: #000;

}
.fa {
  margin:0 10px 5%;
}
/*/compoents*/



/*mobile devices*/
@media only screen and (max-width: 480px) {
	div.container {
	padding: 10%;
	}

  #event{
    background: url('../img/lumen.jpg') no-repeat;
    background-size: cover;
    padding: 5%;

}

div.panel-about {
  margin:5px 0%;
}

div.panel-menu {
  margin:5px 0%;
}
.panel-menu {
  margin:0;
  padding: 0;

}


	
}


/*tablet devices*/
@media only screen and (min-width: 481px) and (max-width: 960px) {
	div.container {
	padding: 30%;
	height: 815px;
	}

	div.panel {
	margin:5px 15%;
}
div.panel-menu {
  margin:5px 0%;
}

  div.panel-about {
  margin:5px 0%;
}


  div.about-head {
  margin: 0;

  }

  div.contactcontent {

  padding: 0 0%;

}

div.contactdetails {
  padding: 0 ;
}




	
}

/*tablet devices2*/
@media only screen and (min-width: 961px) and (max-width: 1024px) {
	div.container {
	padding: 15%;
	height: 1150px;
	}

	div.panel {
	margin:3% 10%;
  }

  div.panel-menu {
  margin:3% 10%;
}

div.panel-about {
    margin: 0 0 8%;
  }
 div.about-head {
   margin: 4% 0;

  }

div.contactcontent {
  background-image: url('../img/para.jpg');
  padding-top: 10%;
  min-height: 1150px;
  
}


 /*#event{
    background: url('../img/lumen.jpg') no-repeat;
    background-size: cover;
    height: 200%;

}*/


	
}


/*desktop*/
@media only screen and (min-width: 1025px) {

	div.container {
	height: 630px;
	padding: 10%;
	}

	div.panel {
  margin:3% 10%;
  }

  div.panel-about {
    margin: 0 2% 10%;
    padding: 10%;
  }
  div.about-head {
   margin: 2% 10%;

  }

  div.containerhomepage {
  
  }

}
