*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div.footer {
	position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;

}
.sidebar{
    border: solid 1px;
    color: grey;
}
